
/* -------------------------------------------------------------------------------------------------------- */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
body{font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}
a:focus{outline:1px dotted}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
ol{list-style:decimal}ul{list-style:disc}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}

body{background-color: #232323; color: #fff;font-size:1.6em;margin:1em;}
.block {
        color: #fff !important; text-align: center; margin: auto;
        background: #343434;
color:black;
-moz-border-radius:15px;
-webkit-border-radius:15px;
border-radius:15px;
/*IE DOES NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow:0px 0px 1px #000000;
-webkit-box-shadow:0px 0px 1px #000000;
box-shadow:0px 0px 1px #000000;
/*IE DOES NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
padding: 1em;
margin-bottom: 1em;
color: black;
}
h1 {font-size:1.7em;}
h1 a { color:#fff;}
h2 {font-size:1.2em;}
a {color:#028999;text-decoration:none;border-bottom:1px #fff dashed;}
sup{font-size:0.7em;}

.frame { margin-right:auto;margin-left:auto; max-width:800px;margin-bottom:3em; }
.login { text-align:right;font-size:0.6em;}

/* lernhilfen --------------------------------------------------------- */
.lernhilfen { font-size:0.8em;padding-left:0;padding-right:0;}
.lernhilfen ul.filter { margin:0;}
.lernhilfen .filter li {width:20%;display:block;float:left;margin:0;}
.lernhilfen .filter label {display:block;margin:1px;}
.lernhilfen .filter select {width:99%;margin:1px;}
.lernhilfen div.meta { font-size:0.6em;border-top:1px dotted #666;}
.lernhilfen .meta span { text-align:left; display:block;float:left; width:20%;}
.lernhilfen .filelist { border-top:1px solid #222;border-bottom:0;clear:both; }
.lernhilfen .meta-head { text-align:left;font-size:0.9em;font-weight:bold;border-bottom:1px dotted #666; background-color:#444; }
.lernhilfen .filerow { border-bottom:1px solid #666;clear:both; }
.lernhilfen .filerow1 { background-color:#353535;}
.lernhilfen .filerow2 { background-color:#454545;}

/* messages   --------------------------------------------------------- */
.messages li { border:1px solid #CC0;background-color:#FF8;padding:0.1em;list-style:none;}
.messages li.success { border:1px solid #080;background-color:#1b1;}
/* inputs     --------------------------------------------------------- */
input,select,textarea { background-color:#333; color:#fff; border:1px solid black;margin-bottom:1px;}
option { background-color:#333;}
input[type="submit"] { background-color:#028999;}


/* cafe-status -------------------------------------------------------- */
.progress_bar {
  position: relative;
  margin: 0 0 15px 0;
  border: 1px solid #111;
  background: #511;
  box-shadow: 0 0.1em 0.5em #000 inset;
  border-radius:0.5em;
  overflow:hidden;
}
 
.progress_bar span {
  position: absolute;
  left: 0;
  top: 0;
  line-height: 1.8em;
  background-color: #530;
  box-shadow: 0 0.5em 1.0em #860 inset;
  border-right:1px solid #000;
}
 
.progress_bar strong {
  position: relative;
  z-index: 10;
  display: block;
  line-height: 1.8em;
  text-align: center;
}

/* index-feeds -------------------------------------------------------- */
.feedblock {
    margin:0;padding:0;
    padding-bottom:1em;
}
#feed_links {
    border-bottom:1px solid #000;
}
#feed_links a.selected {
    background-color:#444;
}

.rssFeed {
    font-size: 90%;
    text-align:left;
}
.rssHeader {
    padding: 1.2em 0;
    border-bottom:1px solid #000;
    font-size:1.2em;
}
.rssBody {
}
.rssBody ul {
    list-style: none outside none;
}
.rssBody ul, .rssRow, .rssRow h4, .rssRow p {
    margin: 0;
    padding: 0;
}
.rssRow {
    padding: 0.8em;
    border-bottom:1px solid #000;
}
.rssRow:hover {
    background-color: #111;
    cursor:pointer;
}
.rssRow h4 {
    font-size: 1.1em;
    float:left;
}
.rssRow div {
    float:right;
    color: #eee;
    font-size: 90%;
    margin: 0.2em 0 0.4em;
}
.rssRow p {
    clear:both;
}
.rssRow.odd { background-color: #444; }
.rssRow.even { background-color: #333; }
.rssRow .rssMedia {
    font-size: 1em;
    padding: 0.5em;
}


