* {padding:0; font-family:Arial;}
.clear {clear:both;}
a {color:#028999;text-decoration:none;}
a:hover {border-bottom:1px dotted #028999;}

body {background-color:#eee;}
#frame {width:43em;border:1px solid #ccc;margin:auto auto;background-color:#fff;}
#top {background-color:#000; color:#CCC;}
#top .content {padding:1em;} 
#top #logo {float:left;width:5.8em;margin-right:2em;}
#top h1 {font-size:2.0em;float:left;width:10em;margin:0;}
#top h2 {font-size:0.7em;float:left;width:23em;}
#top #login_box {border:#888 solid 1px;width:10em;float:right;}
#top #tuer {float:right;}
#top #tuer .offen {background-color:green;}
#top #tuer .geschlossen {background-color:red;}
#top #tuer .keinstatus {background-color:#990;}
#top #top_links {clear:both;background-color:#aaa;color:#FFF;padding:0.2em;}
#top #top_links a {padding:0.3em;color:#028999;text-decoration:none;}
#top #top_links a:hover {background-color:#CCC;}
#main {
    -moz-box-shadow:    inset 0px 1px 5px #333;
    -webkit-box-shadow: inset 0px 1px 5px #333;
    box-shadow:         inset 0px 1px 5px #333;
    min-height:20em;


}
#main .content {padding:1em;color:#444;}
#main .content h2 {margin:0;}
#main .content .meta {font-size:0.7em;text-align:right;border-top:1px dotted #CCC;}
#main .content p {font-size:0.9em;line-height:1.2em;margin:0;}


