{% extends "base.html" %}
{% block title %}Status{% endblock %}
{% block heading %}Status{% endblock %}

{% block content %}
    <div class="block">
        <h2>Tür</h2>
        {% if tuer_offen %}
            <div class="tuer open"> Tür offen </div>
        {% else %}
            <div class="tuer closed"> Tür geschlossen </div>
        {% endif %}
    </div>
    <div class="block">
        <h2>0xCAFE</h2>
        {% for pot in cafepots %}
        <div class="pot">
            <div class="progress_bar">
                {% if pot.level %}
                <strong>{{ pot.level|floatformat:"0" }}%</strong>
                <span style="width: {{ pot.level|floatformat:"0" }}%;">&nbsp;</span>
                {% else %}
                <strong>{{ pot.status }}</strong>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
