{% extends "error.html" %}
{% block title %}Fehler 500 :({% endblock %}
{% block heading %}500 - Interner Fehler{% endblock %}

{% block content %}
    <div class="block">
        <img src="http://farm8.staticflickr.com/7001/6509400855_aaaf915871.jpg" width="500" height="400" alt="500 - Internal Server Error">
    </div>

    <div class="block">
        Um bei der Fehlersuche zu helfen, öffne ein neues <a href="/redmine/projects/fsrweb/issues">Ticket</a>
        und beschreibe was passiert ist, als der Fehler auftrat.
    </div>
{% endblock %}
