<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>infoINI {% block title %}{% endblock %}</title>
        <meta name="HandheldFriendly" content="true" />
        <meta name="viewport" content="width=device-width, height=device-height, user-scalable=no" />
        <link rel="stylesheet" href="/media/style.css" type="text/css"/>

        <!-- icons -->
        <link rel="shortcut icon" href="/media/favicon.ico" />
        <link rel="apple-touch-icon" href="/media/logo.png" sizes="118x118" />
        <link rel="apple-touch-icon" href="/media/logo_32.png" sizes="32x32" />
        <link rel="apple-touch-icon" href="/media/logo.png" />
    </head>
    <body>
    <div class="frame">
        <h1><a href="/"><img src="/media/logo_32.png"/> InfoINI {% block heading %}{% endblock %}</a></h1>
        {% if messages %}
        <div align="left" class="block">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% block content %}
        <div align="left" class="block">
            Kein Inhalt
        </div>
        {% endblock %}
    </div>
    </body>
</html>
