<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
    <head>
        <title>{% block title %}infoINI{% endblock %}</title>
        <link rel="stylesheet" href="/media/style.css" type="text/css"/>
        <link rel="shortcut icon" href="/media/favicon.ico" />
    </head>
    <body>

        <div id="frame">
            <div id="top">
                <div class="content">
                    <div id="login_box">

{% if user.is_authenticated %}
Hallo {{ user.username }}!
<a href="/user/logout/">Ausloggen</a>?
{% if user.is_staff %}
Du hast Zugriff zum <a href="/admin/">Admin-Interface</a>
{% endif %}
{% else %}
<form method="post" action="/user/login/">
{% csrf_token %}
    <label for="id_username">Benutzername</label>
    <input id="id_username" type="text" name="username" maxlength="30" />
    <label for="id_password">Passwort</label>
    <input type="password" name="password" id="id_password" />

<input type="submit" value="Login" />
<input type="hidden" name="next" value="{{ request.get_full_path }}" />
</form>

{% endif %}

                    </div>
                    <a href="/"><img src="/media/logo.png" id="logo" border="0"/></a>
                    <h1>www.infoini.de</h1>
                    <h2>Webseite des FSR6: Fachschaft des Fachbereichs VI
                    der Beuth Hochschule fuer Technik Berlin</h2>
                    <div class="clear"></div>
                </div>
                <div id="top_links">
                    {% block links %}
                    <a href="/news/">News</a>
                    <a href="/lernhilfen/">Lernhilfen</a>
                    <a href="/personen/">Personen</a>
                    <a href="/kontakt/">Kontakt</a>
                    <a href="/impressum/">Impressum</a>
                    {% endblock %}
                    <div id="tuer"><a href="/tuer/">Tür</a>
                        {% block tuer %}
                        {% if ist_offen %}
                            <span class="offen">offen</span>
                        {% else %}
                            <span class="geschlossen">geschlossen</span>
                        {% endif %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <div id="main">
                <div class="content">
                    {% block content %}
                        Kein Inhalt
                    {% endblock %}
                </div>
            </div>


        </div>


    </body>
</html>
