{% extends "base.html" %}
{% block title %}Fehler{% endblock %}
{% block heading %}Fehler{% endblock %}

{% block bodycss %}background-color:#700;{% endblock %}

{% block content %}
    <div class="block">
        <img src="http://farm8.staticflickr.com/7172/6508022985_b22200ced0.jpg" width="500" height="400" alt="404 - Not Found">
    </div>

    <div class="block">
        Wenn hier etwas sein sollte, öffne ein neues <a href="/redmine/projects/fsrweb/issues">Ticket</a>
    </div>
{% endblock %}
