{% extends "base.html" %}
{% block title %}Status{% endblock %}
{% block heading %}Status{% endblock %}

{% block content %}
    <div class="block">
        <h2>Tür</h2>
        {% if tuer_offen %}
            <div class="tuer open"> Tür offen </div>
        {% else %}
            <div class="tuer closed"> Tür geschlossen </div>
        {% endif %}
    </div>
    <div class="block">
        <h2>0xCAFE</h2>
        {% for pot in cafepots %}
        <div class="pot">
            <div style="float:right;">{{ pot.level }}%</div>
            <p>{{ pot.status }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
