{% extends "base.html" %}
{% block title %}Status{% endblock %}
{% block heading %}Status{% endblock %}

{% block content %}
    <div class="block">
        <h2>Tür</h2>
        {% if tuer_offen %}
            <div class="tuer open"> Tür offen </div>
        {% else %}
            <div class="tuer closed"> Tür geschlossen </div>
        {% endif %}
    </div>
    <div class="block">
        <h2>0xCAFE</h2>
        {% for pot in cafepots %}
        <div class="pot">
            <p style="text-align:left;">Kanne {{ forloop.counter }}: {{ pot.status }}</p>

            {% if pot.level %}
            <div class="progress_bar">
                <strong>{{ pot.level|floatformat:"0" }}%</strong>
                <span style="width: {{ pot.level|floatformat:"0" }}%;">&nbsp;</span>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}
