{% extends "base.html" %}
{% load pagination_tags %}
{% block title %}Lernhilfen{% endblock %}
{% block heading %}Lernhilfen{% endblock %}


{% block content %}
<div class="login">{% include "login_box.html" %}</div>

<form action="./upload/" method="POST" enctype="multipart/form-data">
<div class="lernhilfen block">
    <div align="left">
                <a href="#" id="btn_hochladen">Hochladen</a>
                | <a href="/lernhilfen/sort/">Altes Archiv einsortieren</a>
    </div>
    <div class="filelist" id="filelist">
        <div class="meta-head">
            <div class="upload_form" id="ulform1">
                <h2>Hochladen</h2>
                <ol>
                    <li>Einordnen</li>
                </ol>
            </div>
            <ul class="filter">
                {{ filter.form.as_ul}}
            </ul>
            <div class="upload_form" id="ulform2">
                <ol start="2">
                    <li>Datei auswählen<br/>
                        <input id="id_datei" type="file" name="datei"></li>
                    <li>Einen Namen eingeben<br/>
                        <input type="text" name="name" id="id_name" /></li>
                    <li><input type="submit" value="hochladen"/></li>
                </ol>
            </div>
            {% csrf_token %}

            {% if user.is_staff %}
            <div align="right" style="clear:both;">
                <input type="checkbox" name="ungesichtet" id="show_unreviewed"/> <label for="show_unreviewed">nur ungesichtete anzeigen</label>
            </div>
            {% endif %}
        </div>
        <div style="position:relative;">
            <div id="loader">
                <div>
                Lade...
                </div>
            </div>
            <div id="btn_prevpage" class="filerow"><a>Zurück</a></div>
            <div id="filerows"></div>
            <div id="btn_nextpage" class="filerow"><a href="#">Weiter</a></div>
        </div>
    </div>
</div>
</form>


<script type="text/javascript">
var offset=0;
{% if user.is_staff %}
var user_is_staff = true;
{% else %}
var user_is_staff = false;
{% endif %}
</script>
<script src="/media/lernhilfen.js" type="text/javascript"></script>

{% endblock %}
