{% extends "base.html" %}
{% block title %}Lernhilfen / hochladen{% endblock %}
{% block heading %}<a href="/lernhilfen/">Lernhilfen</a> / hochladen{% endblock %}

{% block bodycss %}background-color:#800;{% endblock %}

{% block content %}
<div class="lernhilfen block">
    <form action="./" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
        {{ uploadform.as_table}}
        <tr>
            <td></td>
            <td><input type="submit" value="hochladen"/></td>
        </table>
    </form>
</div>


{% endblock %}
